@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

.container {
  position: relative;
  width: 400px;
  height: 620px;
  margin: 9rem auto;
  padding: 25px;
  border-radius: 15px;
  background-color: hsl(216, 50%, 16%);
}

.inner-box {
  display: block;
}

.inner-box img {
  width: 350px;
  height: 350px;
  border-radius: 15px;
}

.overlay {
  display: flex;
  position: absolute;
  top: 25px;
  left: 25px;
  width: 350px;
  height: 350px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: hsl(178, 100%, 50%);
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.overlay img {
  width: 150px;
  height: 150px;
}

.container:hover .overlay {
  opacity: 0.5;
  cursor: pointer;
}

#heading {
  color: white;
  font-weight: bold;
  font-size: 22px;
  padding: 25px 0 20px 0;
}

#heading:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

#subheading {
  padding-bottom: 20px;
  color: rgba(161, 171, 180, 0.922);
  font-size: 18px;
}

.other {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#eth,
#time {
  display: flex;
  align-items: center;
  gap: 8px;
}

#eth {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

#time {
  color: rgba(161, 171, 180, 0.922);
}

#line {
  margin: 10px auto;
  border-bottom: 1px solid #dddde158;
}

.author {
  display: flex;
  align-items: center;
}

.author img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid white;
}

.author p {
  color: rgba(161, 171, 180, 0.922);
}

.author span {
  color: white;
}

.author span:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
